
a{
  text-decoration: none;

}
a:hover{
    cursor: pointer;
  opacity: 0.7;
  transition: 0.4s;
}
li{
  list-style: none;
}
.u-section{
    padding: 80px;
}
p{
    color: #6b4f3f;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 21px;
}
main{
    margin: 0 auto  ;
}
.section__title{
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    h2{
    color: #6b4f3f;
    font-weight: bold;
    font-size: 32px;
    }
    h3{
        color: #6b4f3f;
        font-size: 16px;
    }

}
@media screen and (max-width:768px) {
  .u-section{
    padding: 30px;
  }

}